---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- else -%}
    <h2 class="post-list-heading">{{ site.data.ui-text[site.locale].list_title | default: "Posts" }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.posts -%}
    {%- assign thumb = post.thumb | default: post.image -%}
    <li class="post-item{% if thumb %} has-thumb{% endif %}">
      {%- if thumb -%}
      <a class="post-thumb-link" href="{{ post.url | relative_url }}">
        <img class="post-thumb" src="{{ thumb }}" alt="{{ post.title | escape }}">
      </a>
      {%- endif -%}
      <div class="post-item-body">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <span class="post-icon">{{ post.icon | default: "📝" }}</span>
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 40 }}</p>
        {%- endif -%}
      </div>
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{%- endif -%}
